# Gradle
.gradle/
build/
*/build/

# Kotlin/Native
.kotlin/
.cxx/
.externalNativeBuild/

# Android Studio / IntelliJ
.idea/
*.iml

# Local config
local.properties
app/google-services.json

# OS
.DS_Store
captures/
